.blog_img {
    width: 60%;
    height: 450px;
}
.nav_container{
    background-color: #cf7500;
    color: #f4f4f4;
}
.srch_btn{
    border-color: #f4f4f4;
    color: #f4f4f4;
}
image {
    margin-left: auto!important;
    margin-right: auto !important;
}
main {
    background-image: url("../images/stripes-light.png");
}