.blog_img {
    width: 60% !important;
    height: 450px !important;
}
.nav_container{
    background-color: #cf7500;
    color: #f4f4f4;
}
.srch_btn{
    border-color: #f4f4f4;
    color: #f4f4f4;
}
main {
    background-image: url("../images/stripes-light.png");
}
.date{
    opacity: .5;
    text-decoration: none;
}
.tag{
    background-color: #cf7500 !important;
    color: #f4f4f4 !important;
    text-transform: uppercase;
}