body {
    background-image: url("../images/memphis-mini.png");
    background-color: lightcyan;
    }
div{
    background-color:lightgray;
    font-family: "Lucida Console", Courier, monospace;
}
button{
    background-color: lightgray;
}
.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}
